header{
    display: flex;
}
#nav{
    display: flex;
}
.menuHeader{
    padding: 50px;
    list-style: none;
}

.row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.margin-around {
    display: flex;
    margin: 20px;
    width: calc(100% - 40px);
}

.padd-around {
    display: flex;
    padding: 20px;
    width: calc(100% - 40px);
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.x-center {
    justify-content: center;
}

.y-center {
    align-items: center;
}

.title {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 40px;
}

footer {
    padding: 20px;
    background-color: #000;
}

footer .padd-around {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

footer .padd-around ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}

footer .padd-around p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    font-size: 22px;
}



